<div class="w-full grid grid-rows-[200px_1fr]">
    <a href=""
       class="relative block h-60 max-h-60 overflow-hidden transition-all">
        <div style="background-image: url('https://virtuswaycdn.azureedge.net/images/news/angular-1.jpg')"
             class="w-full h-full scale-100 bg-cover bg-center bg-no-repeat transition-all"></div>
    </a>
    <div>
        <a href="">
            <h2>Title post</h2>
        </a>
        <p>
            text description <a href="#">Leer más</a>
        </p>
    </div>
</div>
