<section class=" {{ heroClass }} bg-[center_left] bg-no-repeat bg-cover pt-32 pb-20">
    <div class="Container">
        <div class="w-full md:w-7/12">

            @if(heroTag){
                <p class="text-sm tracking-widest uppercase mb-2">
                    {{ heroTag }}
                </p>
            }

            @if(heroTitle){
                <h1 class="text-5xl leading-tight mb-3">
                    {{ heroTitle }}
                </h1>
            }

            @if(heroText){
                <p class="text-xl font-AvenirRoman mb-8">
                    {{ heroText }}
                </p>
            }

            @if(btnContact){

              <app-button btnType="primary" btnLabel="contact"></app-button>

            }

            @if(btnDossier){

              <app-button btnType="secondary" btnLabel="Dossier"></app-button>

            }

        </div>
    </div>
</section>
