<!-- Primary Button -->
@if( btnType == "primary"){
<a target="_blank" href="contact.html#form-contact"
  class="mr-6 inline-block min-w-10 min-h-11 py-3 px-4 bg-BrandGreen-500 text-white border border-solid border-transparent text-base rounded-[4px] transition-all hover:bg-BrandGreen-600 hover:text-white hover:no-underline  active:bg-black active:text-white md:text-lg">
  {{'button-hero-about-as-contact.btn-label' | translate}}
</a>
}@else if (btnType == "secondary") {
<a target="_blank" href="download-dossier.html#form-contact"
  class="inline-flex min-w-10 min-h-12 py-3 px-4 bg-transparent text-BrandGray-950 border border-solid border-BrandGray-950 text-base rounded-[4px] transition-all hover:bg-[rgba(255,255,255,.5)] active:bg-black active:text-white md:text-lg">
  {{'button-hero-about-as-dossier.btn-label' | translate}}
</a>
}
