<section class="HeroLegal bg-[center_left] bg-no-repeat bg-cover pt-24 pb-8"> 
  <div class="Container">
      <div class="w-full">
          <h1 class="text-5xl leading-tight">
            Legal warning
          </h1>
      </div>
  </div>
</section>

<section>
  <div class="Container">


    <p>
      In accordance with the provisions of Law 34/2002, of July 11, on services of the information society and electronic commerce, the following information is provided:
  </p>


  <h4 style="margin-top: 30px">
      1. IDENTIFYING DATA
  </h4>
  <p>
      You are visiting the website <a href="https://virtusway.com">https://virtusway.com</a> owned by VIRTUSWAY SPAIN SL, with registered office at AVDA. JERONIMO ROURE, Nº 43 PLANTA 4ª (46520 SAGUNTO) VALENCIA,  with N.I.F.  B98823362,  registered in the Mercantile Registry of Valencia, in Volume 10115 Folio 194, Page V-170540, hereinafter, the OWNER.
  </p>
  <p>
      You can contact the Holder by any of the following means:
  </p>
  <ol>
      <li><strong>Telephone:</strong> 62291713</li>
      <li><strong>Contact email:</strong> <a href="mailto:lopd@virtusway.com">lopd&#64;virtusway.com</a></li>
  </ol>


  <h4 style="margin-top: 30px">
      2. USERS
  </h4>
  <p>
      Through this document we inform you of the terms and conditions that regulate access and use of the Owner's website and/or app, as well as the associated services and content. The access or use of any interested party implies the acquisition of the condition of "user" and, with said condition, a series of rights and obligations.
  </p>
  <p>
      <strong>
          For the purposes described above, we inform you that it is your responsibility to access the legal conditions inserted in this website, as well as the privacy policies, cookies or, where appropriate, conditions of sale and read them carefully.
      </strong>
  </p>
  <p>
      We recommend:
  </p>
  <ol>
      <li>
          <strong>
              That you visit them each time you intend to access or use the services and contents of the site and
          </strong>
      </li>
      <li>
          <strong>
              Print or store a copy on your system.
          </strong>
      </li>
  </ol>


  <h4 style="margin-top: 30px">
      3. USE OF THE PORTAL
  </h4>
  <p>
      This website provides access to a multitude of information, services, programs or data (hereinafter, "the contents") on the Internet belonging to the Owner or its licensors to which the User may have access.
  </p>
  <p>
      The User assumes responsibility for the use of the portal. Said responsibility extends to the registration that is necessary to access certain services or contents. In said registry, the User will be responsible for providing truthful and lawful information. As a consequence of this registration, the User can be provided with a password for which they will also be responsible, agreeing to make diligent and confidential use of it.
  </p>
  <p>
      <strong>The User undertakes to make appropriate use of the content and services</strong> (for example, chat services, discussion forums or newsgroups) that the Owner offers through its portal and, including but not limited to, <strong>not use them for:</strong>
  </p>
  <ul>
      <li>
          Incur in illicit activities, illegal or contrary to good faith and public order.
      </li>
      <li>
          Disseminate racist, xenophobic, pornographic-illegal content or propaganda, in support of terrorism or violation of human rights.
      </li>
      <li>
          Causing damage to the physical and logical systems of the Holder, its suppliers or third parties, introducing or spreading computer viruses or any other physical or logical systems that are likely to cause the aforementioned damage.
      </li>
      <li>
          Attempt to access and, where appropriate, use the email accounts of other users and modify or manipulate their messages.
      </li>
      <li>
          Use the website or the information contained in it for commercial, political, advertising purposes and for any commercial use, especially when sending unsolicited emails.
      </li>
  </ul>
  <p>
      The Owner reserves the right to withdraw all those comments and contributions that violate respect for the dignity of the person, that are discriminatory, xenophobic, racist, pornographic, that threaten youth or childhood, order or public safety or that, in his opinion, will not be suitable for publication. In any case, the Owner will not be responsible for the opinions expressed by users through forums, chats, or other participation tools.
  </p>


  <h4 style="margin-top: 30px">
      4. DATA PROTECTION
  </h4>
  <p>
      Everything related to the processing of your personal data is included in the <a href="data_protection_policy.html">privacy policy</a>.
  </p>


  <h4 style="margin-top: 30px">
      5. CONTENTS. INTELLECTUAL AND INDUSTRIAL PROPERTY
  </h4>
  <p>
      The Owner is the owner of all the intellectual and industrial property rights of its website, as well as the elements contained therein (by way of example: images, photographs, sound, audio, video, software or texts, brands or logos, color combinations, structure and design, selection of materials used, computer programs necessary for its operation, access and use, etc.), owned by the Owner or its licensors.
  </p>
  <p>
      <strong>All rights reserved.</strong> By virtue of the provisions of articles 8 and 32.1, second paragraph, of the Intellectual Property Law, <strong>the reproduction, distribution and public communication, including the method of making them available, of all or part of the contents of this web page, for commercial purposes, in any support and by any technical means, without the authorization of the Owner.</strong>
  </p>


  <h4 style="margin-top: 30px">
      6. EXCLUSION OF WARRANTIES AND LIABILITY
  </h4>
  <p>
      The User acknowledges that the use of the website and its contents and services is carried out under his sole responsibility. Specifically, by way of example, the Owner does not assume any responsibility in the following areas:
  </p>
  <ul>
      <li>
          The availability of the operation of the web page, its services and contents and its quality or interoperability.
      </li>
      <li>
          The purpose for which the website serves the objectives of the User.
      </li>
      <li>
          Violation of current legislation by the User or third parties and, specifically, of the intellectual and industrial property rights owned by other persons or entities.
      </li>
      <li>
          The existence of malicious code or any other harmful computer element that could cause the User's computer system or third parties. It is up to the User, in any case, to have adequate tools for the detection and disinfection of these elements.
      </li>
      <li>
          Fraudulent access to content or services by unauthorized third parties or, where appropriate, the capture, deletion, alteration, modification or manipulation of messages and communications of any kind that said third parties could carry out.
      </li>
      <li>
          Damage caused to computer equipment during access to the website and damage caused to Users when they originate from failures or disconnections in telecommunications networks that interrupt the service.
      </li>
      <li>
          The damages or losses that derive from circumstances occurring by fortuitous event or force majeure.
      </li>
  </ul>
  <p>
      In the event that there are forums, the use of the same or other similar spaces, it must be taken into account that the messages reflect only the opinion of the User who sends them, being the latter the only person responsible for them. Consequently, the Owner is not responsible for the content of the messages sent by the User.
  </p>


  <h4 style="margin-top: 30px">
      7. MODIFICATION OF THIS LEGAL NOTICE AND DURATION
  </h4>
  <p>
      The Owner reserves the right to make the modifications it deems appropriate in its portal without prior notice, being able to change, delete or add as many contents and services that are provided through it, as well as the way in which they appear represented or located on your portal.
  </p>
  <p>
      The validity of the aforementioned conditions will depend on their exposure and will be in force until they are modified by others duly published.
  </p>


  <h4 style="margin-top: 30px">
      8. LINKS
  </h4>
  <p>
      In the event that <a href="https://virtusway.com">https://virtusway.com</a> includes links or hyperlinks to other Internet sites, the Owner will not exercise any type of control over said sites and content. In no case will the Owner assume any responsibility for the contents of any link belonging to a third-party website, nor will it guarantee the technical availability, quality, reliability, accuracy, breadth, veracity, validity and constitutionality of any matter or information contained in any of said hyperlinks and other sites on the Internet. Likewise, the inclusion of these external connections will not imply any type of association, merger or participation with the connected entities.
  </p>



  <h4 style="margin-top: 30px">
      9. RIGHTS OF EXCLUSION
  </h4>
  <p>
      The Owner reserves the right to deny or withdraw access to the portal and/or the services offered without the need for prior warning, at its own request or by a third party, to those users who fail to comply with the content of this legal notice.
  </p>


  <h4 style="margin-top: 30px">
      10. GENERAL
  </h4>
  <p>
      The Owner will prosecute the breach of these conditions as well as any improper use of its portal, exercising all civil and criminal actions that may correspond to it by law.
  </p>


  <h4 style="margin-top: 30px">
      11. APPLICABLE LAW AND JURISDICTION
  </h4>
  <p>
      The relationship between the Owner and the User will be governed by current Spanish regulations. All disputes and claims derived from this legal notice will be resolved by the competent Spanish consumer and user courts and tribunals.
  </p>


  <h4 style="margin-top: 30px">
      12. MINORS
  </h4>
  <p>
      This website directs its services to users over 18 years of age. Minors under this age are not authorized to use our services and should not, therefore, send us their personal data. We inform you that if such a circumstance occurs, the Owner is not responsible for the possible consequences that may arise from failure to comply with the notice established in this clause.
  </p>



  <h4 style="margin-top: 30px">
      13. SECURITY MEASURES - SSL
  </h4>
  <p>
      The Owner has contracted an SSL ("Secure Sockets Layer") certificate for its website. Said SSL certificate makes it possible to protect all personal and confidential information that can be handled on a website, regardless of the information that is being transmitted, such as from any of the website's contact forms to the server or the data entered. For subscription to newsletters, access to protected areas, etc.
  </p>
  <p>
      The website address will appear in green, activating the "https" protocol that allows secure connections from a web server to the user's browser.
  </p>

  <h6 style="margin-top: 50px">
      Last revision: April 14, 2023
  </h6>

  </div>
</section>
