<section class="HeroLegal bg-[center_left] bg-no-repeat bg-cover pt-24 pb-8"> 
    <div class="Container">
        <div class="w-full">
            <h1 class="text-5xl leading-tight">
              Política de cookies
            </h1>
        </div>
    </div>
</section>
  
<section>
    <div class="Container">

        <h4 style="margin-top: 30px">
            1. CAPA 1: AVISO COOKIES
        </h4>
        <h5 style="color: #686868; margin-left: 26px;">
            1.1 BANNER
        </h5>
        <p>
            Este Sitio Web utiliza cookies y otras técnicas de rastreo para mejorar tu experiencia de navegación en nuestra web, para mostrarte contenidos personalizados y anuncios adecuados, para analizar el tráfico en nuestra web y para comprender de donde llegan nuestros visitantes. 
        </p>


        <h4 style="margin-top: 30px">
            2. CAPA 2: POLÍTICA EXTENSA
        </h4>
        <p>
            El objetivo de esta política es informar a los interesados acerca de las cookies que emplea esta página web, de conformidad con lo establecido en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, y el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016.
        </p>
        <div style="padding-left: 26px;">
            <h5 style="color: #686868;">
                2.1 USO DE COOKIES. ¿QUÉ SON LAS COOKIES?
            </h5>
            <p>
                Las cookies son ficheros que se descargan en su Ordenador, Smartphone o Tablet al acceder a determinadas páginas web. La utilización de cookies ofrece numerosas ventajas en la prestación de servicios de la Sociedad de la Información, puesto que, entre otras: 
            </p>
            <ul>
                <li>
                    (a) Facilita la navegación del usuario en el Sitio Web;
                </li>
                <li>
                    (b) Facilita al usuario el acceso a los diferentes servicios que ofrece el Sitio Web;
                </li>
                <li>
                    (c) Evita al usuario volver a configurar las características generales predefinidas cada vez que accede al Sitio Web;
                </li>
                <li>
                    (d) Favorece la mejora del funcionamiento y de los servicios prestados a través del Sitio Web, tras el correspondiente análisis de la información obtenida a través de las cookies instaladas;
                </li>
                <li>
                    (e) Permiten a un Sitio Web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.
                </li>
            </ul>
            <p>
                La mayoría de los navegadores aceptan como estándar las cookies y, con independencia de las mismas, permiten o impiden en los ajustes de seguridad las cookies temporales o memorizadas.
            </p>
            <p>
                Tenga en cuenta que, para poder utilizar y contar con una mejor experiencia de navegación, es necesario que tenga habilitadas las cookies, especialmente aquellas de carácter técnico que resultan necesarias para que puedan identificarle como usuario registrado cada vez que acceda a la presente web.
            </p>
            <p>
                En caso de no querer recibir cookies, por favor, configure su navegador de internet, para que las borre del disco duro de su ordenador, las bloquee o le avise en su caso de instalación de las mismas.
            </p>


            <h5 style="color: #686868; margin-top: 30px">
                2.2 ¿QUÉ TIPOS DE COOKIES UTILIZA ESTA PÁGINA WEB?
            </h5>
            <p style="margin-top:30px; margin-bottom: 6px">
                <strong>
                    Cookies utilizadas en este sitio web
                </strong>
            </p>
            <p>
                Siguiendo las directrices de la Agencia Española de Protección de Datos, procedemos a detallar el uso de las cookies que esta página web emplea, con el fin de proporcionarle la máxima información posible.
            </p>
            <p style="margin-top:30px; margin-bottom: 6px">
                <strong>
                    Cookies Propias
                </strong>
            </p>
            <p>
                Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario.
            </p>
            <p>
                VIRTUSWAY SPAIN SL no almacena este tipo de cookies.
            </p>
            <p style="margin-top:30px; margin-bottom: 6px">
                <strong>
                    Cookies Terceros
                </strong>
            </p>
            <p>
                Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos a través de las cookies.
            </p>
            <p>
                A continuación, detallamos la lista de las cookies que utilizamos:
            </p>
            <ul>
                <li>Bing.com</li>
                <li>Clarity.ms</li>
                <li>Doubleclick.net</li>
                <li>Google.com</li>
                <li>Google.es</li>
                <li>Linkedin.com</li>
                <li>Facebook.com</li>
            </ul>
            <!-- <table style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Preveedor</th>
                        <th>Finalidad</th>
                        <th>Duración</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ejemplo ASP .NET SessionID</td>
                        <td>Cookie de sesión</td>
                        <td>Nombre</td>
                        <td>Sirve para recabar y almacenar sus datos mientras accede a nuestra página web, permanecen en su equipo durante la visita.</td>
                        <td>Hasta finalizar sesión</td>
                    </tr>
                </tbody>
            </table> -->
            <p>
                VIRTUSWAY SPAIN SL no se hace responsable, en ningún caso, ni del contenido ni de la veracidad de las políticas y/o condiciones de uso y privacidad de los terceros incluidos a través de los enlaces en esta política.
            </p>


            <h5 style="color: #686868; margin-top: 30px">
                2.3 CONSENTIMIENTO
            </h5>
            <p>
                En relación con la utilización de cookies de este sitio web, el usuario autoriza y consiente su uso de la siguiente forma:
            </p>
            <p>
                Cuando el usuario accede a cualquier página de la web, verá un aviso donde se indica que la página web de VIRTUSWAY SPAIN SL utiliza cookies, pudiendo el usuario aceptar o rechazar el uso de las mismas a través del panel de configuración. Al hacer clic en aceptar, usted acepta el uso de nuestras cookies y, en su caso, las de los terceros. A estos efectos, le indicamos que el panel de configuración/privacidad permite la posibilidad de aceptarlas o rechazarlas por tipología.
            </p>


            <h5 style="color: #686868; margin-top: 30px">
                2.4 PLAZOS O CRITERIOS DE CONSERVACIÓN DE LOS DATOS
            </h5>
            <p>
                Los datos obtenidos a través del uso de las cookies por usted seleccionadas, serán conservados durante el tiempo necesario para cumplir con las finalidades para los que fueron recopilados y durante el periodo de tiempo establecido en el apartado «QUÉ TIPOS DE COOKIES UTILIZA ESTA PÁGINA WEB» de la presente política, para cada una de las cookies instaladas en el dispositivo.
            </p>



            <h5 style="color: #686868; margin-top: 30px">
                2.5 CÓMO BLOQUEAR REVOCAR O ELIMINAR LAS COOKIES INSTALADAS
            </h5>
            <p>
                Puede usted permitir, bloquear, revocar o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones de su navegador. Puede encontrar información sobre cómo hacerlo, en relación con los navegadores más comunes, en los links que se incluyen a continuación
            </p>
            <ul>
                <li>
                    <strong>Explorer:</strong> <a href="https://support.microsoft.com/es-es/kb/278835" target="_blank">https://support.microsoft.com/es-es/kb/278835</a>
                </li>
                <li>
                    <strong>Microsoft Edge:</strong> <a href="https://privacy.microsoft.com/es-es/windows-10-microsoft-edge-and-privacy" target="_blank">https://privacy.microsoft.com/es-es/windows-10-microsoft-edge-and-privacy</a>
                </li>
                <li>
                    <strong>Chrome:</strong> <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3D" target="_blank">https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3D</a>
                </li>
                <li>
                    <strong>Firefox:</strong> <a href="http://support.mozilla.org/es/kb/Borrar%20cookies" target="_blank">http://support.mozilla.org/es/kb/Borrar%20cookies</a>
                </li>
                <li>
                    <strong>Safari:</strong> <a href="http://support.apple.com/kb/ph5042" target="_blank">http://support.apple.com/kb/ph5042</a>
                </li>
                <li>
                    <strong>Opera:</strong> <a href="https://help.opera.com/en/latest/web-preferences/#cookies" target="_blank">https://help.opera.com/en/latest/web-preferences/#cookies</a>
                </li>
            </ul>
            <p>
                Para poder revocar al cookies inicialmente aceptadas, haga clic en <a href="#">Revocar cookies</a>   
            </p>


            <h5 style="color: #686868; margin-top: 30px">
                2.6 DESTINATARIOS DE LA INFORMACIÓN
            </h5>
            <p>
                Le informamos de que las empresas colaboradoras detalladas en el Panel de Configuración tienen acceso a la información obtenida a través de las cookies del sitio web. Asimismo, le informamos de que algunos de nuestros proveedores así como empresas colaboradoras pueden realizar transferencias a terceros países. A estos efectos, le recomendamos que visite sus respectivas políticas de privacidad, las cuales se encuentran accesibles a través de los enlaces facilitados en el Panel de Configuración.
            </p>

            <h5 style="color: #686868; margin-top: 30px">
                2.7 MODIFICACIONES. ACTUALIZACIÓN
            </h5>
            <p>
                La presente política de cookies puede verse modificada/actualizada en función de las exigencias legales establecidas o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos o por actualización de nuestro sitio web. Por esta razón, aconsejamos a los usuarios que visiten periódicamente nuestra política de cookies.
            </p>
            <p>
                Si tiene dudas acerca de esta política de cookies, puede contactar con VIRTUSWAY SPAIN SL a través del siguiente correo electrónico <a href="mailto:lopd@virtusway.com">lopd&#64;virtusway.com</a>
            </p>
            <p>
                Para obtener información adicional sobre el tratamiento de sus datos personales acuda a nuestra <a href="data_protection_policy.html">política de privacidad</a>
            </p>
        </div>

        <h6 style="margin-top: 50px">
            Última revisión: 14 de Abril de 2023 
        </h6>

    </div>
</section>
