<footer>
    <div class="Container flex flex-wrap lg:gap-10 text-center justify-center items-start pb-4 lg:flex-nowrap lg:justify-start">
        
        <app-nav-footer></app-nav-footer>

        <div class="w-full mt-10 lg:mt-2 !important">      
            <ul> 
                <li>
                    <h3>      
                        España
                    </h3> 
                </li>
                <li>
                    <p>    
                        Avda. Jerónimo Roure 43 Puerto de Sagunto - 46520 - Valencia - España
                    </p>
                </li>
                <li>
                    <a href="tel:+34622917135" class="lg:px-0" title="Teléfono Virtusway España">
                        <span> 
                            +34 622 91 71 35
                        </span>
                    </a>
                </li>
                <li>
                    <a class="lg:px-0" href="mailto:comercial@virtusway.com" class="FooterLink" title="Correo Virtusway">
                        <span>
                            comercial&#64;virtusway.com 
                        </span>
                    </a>
                </li>
            </ul>                           
        </div>

        <div class="mt-10 w-full lg:mt-2">   
            <ul>
                <li>
                    <h3>      
                        Argentina
                    </h3> 
                </li>
                <li>
                    <p>   
                        Avda. Peltier 50 Oficina 32 - 5500 - Mendoza - Argentina
                    </p>
                </li>
                <li>
                    <a href="tel:+34622917135" class="lg:px-0" title="Teléfono Virtusway Argentina">
                        <span>
                            +54 9 261 595 72 80
                        </span>
                    </a>
                </li>
                <li>  
                    <a href="mailto:comercial@virtusway.com" class="lg:px-0"  title="Correo Virtusway">
                        <span> 
                            comercial&#64;virtusway.com 
                        </span>
                    </a>
                </li>
            </ul>                           
        </div> 

        <div class="w-full max-w-56 text-center mt-10 mb-10 lg:mt-4 lg:mb-0 lg:max-w-56">               
            <img class="h-8 w-auto mx-auto mb-10" src="https://virtuswaycdn.azureedge.net/images/virtusway_microsoft-partner.svg" alt="Virtusway Microsoft Partner" />  
            <img class="h-44 w-auto mx-auto mb-10" src="https://virtuswaycdn.azureedge.net/images/virtusway_pyme-innovadora-es.png" alt="Virtusway PYME Innovadora" /> 
        </div>

    </div>


    <div class="relative">
        <hr class="border-BrandGray-800" />     
        <div class="absolute -top-4 left-2/4 -ml-24">        
            <img class="w-48 bg-BrandGray-950 px-6" src="https://virtuswaycdn.azureedge.net/toolbox/Virtusway_Logo_Horizontal_ColorTextWhite.svg" alt="Virtusway - HAcemos Software" />
        </div>
        <app-nav-legal-footer></app-nav-legal-footer>
    </div>


</footer>
