<section class="HeroLegal bg-[center_left] bg-no-repeat bg-cover pt-24 pb-8"> 
    <div class="Container">
        <div class="w-full">
            <h1 class="text-5xl leading-tight">
              Cookies policy
            </h1>
        </div>
    </div>
  </section>
  
  <section>
    <div class="Container">
  
        <h4 style="margin-top: 30px">
            1. LAYER 1: COOKIES NOTICE
        </h4>
        <h5 style="color: #686868; margin-left: 26px;">
            1.1 BANNER
        </h5>
        <p>
            This Website uses cookies and other tracking techniques to improve your browsing experience on our website, to show you personalized content and appropriate advertisements, to analyze traffic on our website and to understand where our visitors come from.
        </p>


        <h4 style="margin-top: 30px">
            2. LAYER 2: EXTENSIVE POLITICS
        </h4>
        <p>
            The objective of this policy is to inform interested parties about the cookies used by this website, in accordance with the provisions of Law 34/2002, of July 11, on Services of the Information Society and Electronic Commerce, and Regulation (EU) 2016/679 of the European Parliament and of the Council of April 27, 2016.
        </p>
        <div style="padding-left: 26px;">
            <h5 style="color: #686868;">
                2.1 USE OF COOKIES. WHAT ARE COOKIES?
            </h5>
            <p>
                Cookies are files that are downloaded to your Computer, Smartphone or Tablet when accessing certain web pages. The use of cookies offers numerous advantages in the provision of Information Society services, since, among others:
            </p>
            <ul>
                <li>
                    (a) Facilitates user navigation on the Website;
                </li>
                <li>
                    (b) Provides the user with access to the different services offered by the Website;
                </li>
                <li>
                    (c) Prevents the user from reconfiguring the predefined general characteristics each time they access the Website;
                </li>
                <li>
                    (d) Favors the improvement of the operation and of the services provided through the Website, after the corresponding analysis of the information obtained through the installed cookies;
                </li>
                <li>
                    (e) Allow a Website, among other things, to store and retrieve information about the browsing habits of a user or their equipment and, depending on the information they contain and the way in which you use your equipment, they can be used to recognize the user.
                </li>
            </ul>
            <p>
                Most browsers accept cookies as standard and, regardless of them, allow or prevent temporary or memorized cookies in the security settings.
            </p>
            <p>
                Keep in mind that, in order to use and have a better browsing experience, you need to have cookies enabled, especially those of a technical nature that are necessary for them to identify you as a registered user each time you access this website.
            </p>
            <p>
                If you do not want to receive cookies, please configure your internet browser so that it deletes them from your computer's hard drive, blocks them or notifies you if they are installed.
            </p>


            <h5 style="color: #686868; margin-top: 30px">
                2.2 WHAT TYPES OF COOKIES DOES THIS WEBSITE USE?
            </h5>
            <p style="margin-top:30px; margin-bottom: 6px">
                <strong>
                    Cookies used on this website
                </strong>
            </p>
            <p>
                Following the guidelines of the Spanish Agency for Data Protection, we proceed to detail the use of cookies that this website uses, in order to provide you with the maximum possible information.
            </p>
            <p style="margin-top:30px; margin-bottom: 6px">
                <strong>
                    Own Cookies
                </strong>
            </p>
            <p>
                They are those that are sent to the user's terminal equipment from a computer or domain managed by the publisher itself and from which the service requested by the user is provided.
            </p>
            <p>
                VIRTUSWAY SPAIN SL does not store this type of cookies.
            </p>
            <p style="margin-top:30px; margin-bottom: 6px">
                <strong>
                    Third Party Cookies
                </strong>
            </p>
            <p>
                They are those that are sent to the user's terminal equipment from a computer or domain that is not managed by the editor, but by another entity that processes the data obtained through cookies.
            </p>
            <p>
                Below, we detail the list of cookies we use:
            </p>
            <ul>
                <li>Bing.com</li>
                <li>Clarity.ms</li>
                <li>Doubleclick.net</li>
                <li>Google.com</li>
                <li>Google.es</li>
                <li>Linkedin.com</li>
                <li>Facebook.com</li>
            </ul>
            <!-- <table style="width: 100%;">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Preveedor</th>
            <th>Finalidad</th>
            <th>Duración</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ejemplo ASP .NET SessionID</td>
            <td>Cookie de sesión</td>
            <td>Nombre</td>
            <td>Sirve para recabar y almacenar sus datos mientras accede a nuestra página web, permanecen en su equipo durante la visita.</td>
            <td>Hasta finalizar sesión</td>
        </tr>
    </tbody>
</table> -->
            <p>
                VIRTUSWAY SPAIN SL is not responsible, in any case, for the content or the veracity of the policies and/or conditions of use and privacy of third parties included through the links in this policy.
            </p>


            <h5 style="color: #686868; margin-top: 30px">
                2.3 CONSENT
            </h5>
            <p>
                In relation to the use of cookies on this website, the user authorizes and consents to their use as follows:
            </p>
            <p>
                When the user accesses any web page, they will see a notice indicating that the VIRTUSWAY SPAIN SL website uses cookies, and the user can accept or reject their use through the configuration panel. By clicking accept, you accept the use of our cookies and, where appropriate, those of third parties. For these purposes, we indicate that the configuration/privacy panel allows the possibility of accepting or rejecting them by type.
            </p>


            <h5 style="color: #686868; margin-top: 30px">
                2.4 DATA PRESERVATION TERMS OR CRITERIA
            </h5>
            <p>
                The data obtained through the use of cookies selected by you will be kept for the time necessary to fulfill the purposes for which they were collected and during the period of time established in the section "WHAT TYPES OF COOKIES DOES THIS WEB PAGE USE?" of this policy, for each of the cookies installed on the device.
            </p>



            <h5 style="color: #686868; margin-top: 30px">
                2.5 HOW TO BLOCK, REVOKE OR DELETE INSTALLED COOKIES
            </h5>
            <p>
                You can allow, block, revoke or eliminate cookies installed on your computer by configuring your browser options. You can find information on how to do it, in relation to the most common browsers, in the links that are included below:
            </p>
            <ul>
                <li>
                    <strong>Explorer:</strong> <a href="https://support.microsoft.com/es-es/kb/278835" target="_blank">https://support.microsoft.com/es-es/kb/278835</a>
                </li>
                <li>
                    <strong>Microsoft Edge:</strong> <a href="https://privacy.microsoft.com/es-es/windows-10-microsoft-edge-and-privacy" target="_blank">https://privacy.microsoft.com/es-es/windows-10-microsoft-edge-and-privacy</a>
                </li>
                <li>
                    <strong>Chrome:</strong> <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3D" target="_blank">https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3D</a>
                </li>
                <li>
                    <strong>Firefox:</strong> <a href="http://support.mozilla.org/es/kb/Borrar%20cookies" target="_blank">http://support.mozilla.org/es/kb/Borrar%20cookies</a>
                </li>
                <li>
                    <strong>Safari:</strong> <a href="http://support.apple.com/kb/ph5042" target="_blank">http://support.apple.com/kb/ph5042</a>
                </li>
                <li>
                    <strong>Opera:</strong> <a href="https://help.opera.com/en/latest/web-preferences/#cookies" target="_blank">https://help.opera.com/en/latest/web-preferences/#cookies</a>
                </li>
            </ul>
            <p>
                To be able to revoke the initially accepted cookies, click on <a href="#">Revoke cookies</a>
            </p>


            <h5 style="color: #686868; margin-top: 30px">
                2.6 RECIPIENTS OF INFORMATION
            </h5>
            <p>
                We inform you that the collaborating companies detailed in the Configuration Panel have access to the information obtained through cookies on the website. Likewise, we inform you that some of our suppliers as well as collaborating companies can make transfers to third countries. For these purposes, we recommend that you visit their respective privacy policies, which are accessible through the links provided in the Configuration Panel.
            </p>

            <h5 style="color: #686868; margin-top: 30px">
                2.7 MODIFICATIONS. UPDATE
            </h5>
            <p>
                This cookie policy may be modified/updated based on established legal requirements or with the purpose of adapting said policy to the instructions issued by the Spanish Agency for Data Protection or by updating our website. For this reason, we advise users to periodically visit our cookie policy.
            </p>
            <p>
                If you have questions about this cookie policy, you can contact VIRTUSWAY SPAIN SL through the following email <a href="mailto:lopd@virtusway.com">lopd&#64;virtusway.com</a>
            </p>
            <p>
                For additional information on the processing of your personal data, see our <a href="data_protection_policy.html">privacy policy</a>.
            </p>
        </div>

        <h6 style="margin-top: 50px">
            Last revision: April 14, 2023
        </h6>
        
    </div>
  </section>
